.container {
  max-width: 800px;
  margin: 0, auto;
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: space-evenly;
}

img {
  width: 100%;
}

.column-one-third {
  width: calc(100% / 3);
  flex-basis: auto;
  justify-content: space-evenly;
}

.column-two-thirds {
  width: calc(100% / 2);
  flex-basis: auto;
}
