button {
  box-sizing: content-box;
  font-size: x-large;
  padding: 10px 45px;
}

button:hover {
  background-color: black;
  cursor: pointer;
  color: white;
}

th {
  background-color: black;
  color: white;
}

tr:nth-child(odd) {
  background-color: lightgray;
}
